html {
  background-color: black;
}

body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}
main {
  max-width: 1000px;
  padding: 15px 90px;
  margin-left: auto;
  margin: auto;
}


.firstimage, .secondimage {
  width: 300px;
  margin: 15px 0px;
}
.firstimage {
  float: left;
  margin-right: 15px;
}

.secondimage {
  float: right;
  margin-left: 15px;
}